# Import Libraries/Data

In [1]:
import pandas as pd
import os

In [2]:
df = pd.read_parquet('https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2022-01.parquet')
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2022-01-01 00:35:40,2022-01-01 00:53:29,2.0,3.80,1.0,N,142,236,1,14.5,3.0,0.5,3.65,0.0,0.3,21.95,2.5,0.0
1,1,2022-01-01 00:33:43,2022-01-01 00:42:07,1.0,2.10,1.0,N,236,42,1,8.0,0.5,0.5,4.00,0.0,0.3,13.30,0.0,0.0
2,2,2022-01-01 00:53:21,2022-01-01 01:02:19,1.0,0.97,1.0,N,166,166,1,7.5,0.5,0.5,1.76,0.0,0.3,10.56,0.0,0.0
3,2,2022-01-01 00:25:21,2022-01-01 00:35:23,1.0,1.09,1.0,N,114,68,2,8.0,0.5,0.5,0.00,0.0,0.3,11.80,2.5,0.0
4,2,2022-01-01 00:36:48,2022-01-01 01:14:20,1.0,4.30,1.0,N,68,163,1,23.5,0.5,0.5,3.00,0.0,0.3,30.30,2.5,0.0

In [3]:
month_range = range(1,12+1)
for i in month_range:
    print(f'{i:02}')

01
02
03
04
05
06
07
08
09
10
11
12

## Imported All Months for 2022

In [4]:
#for month in month_range:
    #df = pd.read_parquet(f'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2022-{month:02}.parquet')
    #df.to_csv(f'Data/yellow_cab_2022_{month}.csv', index=False)

In [5]:
df = pd.read_csv('Data/yellow_cab_2022_1.csv', low_memory=False)
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2022-01-01 00:35:40,2022-01-01 00:53:29,2.0,3.80,1.0,N,142,236,1,14.5,3.0,0.5,3.65,0.0,0.3,21.95,2.5,0.0
1,1,2022-01-01 00:33:43,2022-01-01 00:42:07,1.0,2.10,1.0,N,236,42,1,8.0,0.5,0.5,4.00,0.0,0.3,13.30,0.0,0.0
2,2,2022-01-01 00:53:21,2022-01-01 01:02:19,1.0,0.97,1.0,N,166,166,1,7.5,0.5,0.5,1.76,0.0,0.3,10.56,0.0,0.0
3,2,2022-01-01 00:25:21,2022-01-01 00:35:23,1.0,1.09,1.0,N,114,68,2,8.0,0.5,0.5,0.00,0.0,0.3,11.80,2.5,0.0
4,2,2022-01-01 00:36:48,2022-01-01 01:14:20,1.0,4.30,1.0,N,68,163,1,23.5,0.5,0.5,3.00,0.0,0.3,30.30,2.5,0.0

In [41]:
path = os.path.join('Pipeline', 'yellow_cab_data', 'yellow_cab_2022_1.csv')

In [43]:
df1 = pd.read_csv('C:Users/jonnu/Pipeline/yellow_cab_data/yellow_cab_2022_1.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'C:Users/jonnu/Pipeline/yellow_cab_data/yellow_cab_2022_1.csv'

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2463931 entries, 0 to 2463930
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   tpep_pickup_datetime   object
 2   tpep_dropoff_datetime  object
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int64
 8   DOLocationID           int64
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  airport_fee            float64
dtypes: float64(12), int64(4), object(3)
memory usage: 357.2+ MB

# Only First 10,000 Samples

In [7]:
df = df.head(10000)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   VendorID               10000 non-null  int64
 1   tpep_pickup_datetime   10000 non-null  object
 2   tpep_dropoff_datetime  10000 non-null  object
 3   passenger_count        10000 non-null  float64
 4   trip_distance          10000 non-null  float64
 5   RatecodeID             10000 non-null  float64
 6   store_and_fwd_flag     10000 non-null  object
 7   PULocationID           10000 non-null  int64
 8   DOLocationID           10000 non-null  int64
 9   payment_type           10000 non-null  int64
 10  fare_amount            10000 non-null  float64
 11  extra                  10000 non-null  float64
 12  mta_tax                10000 non-null  float64
 13  tip_amount             10000 non-null  float64
 14  tolls_amount           10000 non-null  float64
 15  improvement_surcharge  10000 non-null  float64
 16  total_amount           10000 non-null  float64
 17  congestion_surcharge   10000 non-null  float64
 18  airport_fee            10000 non-null  float64
dtypes: float64(12), int64(4), object(3)
memory usage: 1.4+ MB

# Clean Data

## Duplicates and Missing Data

In [8]:
df.isna().sum()

VendorID                 0
tpep_pickup_datetime     0
tpep_dropoff_datetime    0
passenger_count          0
trip_distance            0
RatecodeID               0
store_and_fwd_flag       0
PULocationID             0
DOLocationID             0
payment_type             0
fare_amount              0
extra                    0
mta_tax                  0
tip_amount               0
tolls_amount             0
improvement_surcharge    0
total_amount             0
congestion_surcharge     0
airport_fee              0
dtype: int64

In [9]:
df.drop_duplicates(inplace=True)

In [10]:
df.dropna(inplace=True)
df.isna().sum()

VendorID                 0
tpep_pickup_datetime     0
tpep_dropoff_datetime    0
passenger_count          0
trip_distance            0
RatecodeID               0
store_and_fwd_flag       0
PULocationID             0
DOLocationID             0
payment_type             0
fare_amount              0
extra                    0
mta_tax                  0
tip_amount               0
tolls_amount             0
improvement_surcharge    0
total_amount             0
congestion_surcharge     0
airport_fee              0
dtype: int64

## Convert to datetime dtype

In [11]:
df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])
df['tpep_dropoff_datetime'] = pd.to_datetime(df['tpep_dropoff_datetime'])

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 0 to 9999
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   VendorID               10000 non-null  int64
 1   tpep_pickup_datetime   10000 non-null  datetime64[ns]
 2   tpep_dropoff_datetime  10000 non-null  datetime64[ns]
 3   passenger_count        10000 non-null  float64
 4   trip_distance          10000 non-null  float64
 5   RatecodeID             10000 non-null  float64
 6   store_and_fwd_flag     10000 non-null  object
 7   PULocationID           10000 non-null  int64
 8   DOLocationID           10000 non-null  int64
 9   payment_type           10000 non-null  int64
 10  fare_amount            10000 non-null  float64
 11  extra                  10000 non-null  float64
 12  mta_tax                10000 non-null  float64
 13  tip_amount             10000 non-null  float64
 14  tolls_amount           10000 non-null  float64
 15  improvement_surcharge  10000 non-null  float64
 16  total_amount           10000 non-null  float64
 17  congestion_surcharge   10000 non-null  float64
 18  airport_fee            10000 non-null  float64
dtypes: datetime64[ns](2), float64(12), int64(4), object(1)
memory usage: 1.5+ MB

In [13]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2022-01-01 00:35:40,2022-01-01 00:53:29,2.0,3.80,1.0,N,142,236,1,14.5,3.0,0.5,3.65,0.0,0.3,21.95,2.5,0.0
1,1,2022-01-01 00:33:43,2022-01-01 00:42:07,1.0,2.10,1.0,N,236,42,1,8.0,0.5,0.5,4.00,0.0,0.3,13.30,0.0,0.0
2,2,2022-01-01 00:53:21,2022-01-01 01:02:19,1.0,0.97,1.0,N,166,166,1,7.5,0.5,0.5,1.76,0.0,0.3,10.56,0.0,0.0
3,2,2022-01-01 00:25:21,2022-01-01 00:35:23,1.0,1.09,1.0,N,114,68,2,8.0,0.5,0.5,0.00,0.0,0.3,11.80,2.5,0.0
4,2,2022-01-01 00:36:48,2022-01-01 01:14:20,1.0,4.30,1.0,N,68,163,1,23.5,0.5,0.5,3.00,0.0,0.3,30.30,2.5,0.0

# Zone Lookup

In [14]:
df_zone = pd.read_csv('Data/taxi+_zone_lookup.csv')
df_zone.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

## Pickup Borough Dict

In [15]:
df_zone['Borough'][df_zone['LocationID'] == 1].item()

'EWR'

In [16]:
borough_dict = {}

for loc in df_zone['LocationID']:
    borough_dict[loc] = df_zone['Borough'][df_zone['LocationID'] == loc].item()

In [17]:
borough_dict

{1: 'EWR',
 2: 'Queens',
 3: 'Bronx',
 4: 'Manhattan',
 5: 'Staten Island',
 6: 'Staten Island',
 7: 'Queens',
 8: 'Queens',
 9: 'Queens',
 10: 'Queens',
 11: 'Brooklyn',
 12: 'Manhattan',
 13: 'Manhattan',
 14: 'Brooklyn',
 15: 'Queens',
 16: 'Queens',
 17: 'Brooklyn',
 18: 'Bronx',
 19: 'Queens',
 20: 'Bronx',
 21: 'Brooklyn',
 22: 'Brooklyn',
 23: 'Staten Island',
 24: 'Manhattan',
 25: 'Brooklyn',
 26: 'Brooklyn',
 27: 'Queens',
 28: 'Queens',
 29: 'Brooklyn',
 30: 'Queens',
 31: 'Bronx',
 32: 'Bronx',
 33: 'Brooklyn',
 34: 'Brooklyn',
 35: 'Brooklyn',
 36: 'Brooklyn',
 37: 'Brooklyn',
 38: 'Queens',
 39: 'Brooklyn',
 40: 'Brooklyn',
 41: 'Manhattan',
 42: 'Manhattan',
 43: 'Manhattan',
 44: 'Staten Island',
 45: 'Manhattan',
 46: 'Bronx',
 47: 'Bronx',
 48: 'Manhattan',
 49: 'Brooklyn',
 50: 'Manhattan',
 51: 'Bronx',
 52: 'Brooklyn',
 53: 'Queens',
 54: 'Brooklyn',
 55: 'Brooklyn',
 56: 'Queens',
 57: 'Queens',
 58: 'Bronx',
 59: 'Bronx',
 60: 'Bronx',
 61: 'Brooklyn',
 62: 'Brooklyn',
 63: 'Brooklyn',
 64: 'Queens',
 65: 'Brooklyn',
 66: 'Brooklyn',
 67: 'Brooklyn',
 68: 'Manhattan',
 69: 'Bronx',
 70: 'Queens',
 71: 'Brooklyn',
 72: 'Brooklyn',
 73: 'Queens',
 74: 'Manhattan',
 75: 'Manhattan',
 76: 'Brooklyn',
 77: 'Brooklyn',
 78: 'Bronx',
 79: 'Manhattan',
 80: 'Brooklyn',
 81: 'Bronx',
 82: 'Queens',
 83: 'Queens',
 84: 'Staten Island',
 85: 'Brooklyn',
 86: 'Queens',
 87: 'Manhattan',
 88: 'Manhattan',
 89: 'Brooklyn',
 90: 'Manhattan',
 91: 'Brooklyn',
 92: 'Queens',
 93: 'Queens',
 94: 'Bronx',
 95: 'Queens',
 96: 'Queens',
 97: 'Brooklyn',
 98: 'Queens',
 99: 'Staten Island',
 100: 'Manhattan',
 101: 'Queens',
 102: 'Queens',
 103: 'Manhattan',
 104: 'Manhattan',
 105: 'Manhattan',
 106: 'Brooklyn',
 107: 'Manhattan',
 108: 'Brooklyn',
 109: 'Staten Island',
 110: 'Staten Island',
 111: 'Brooklyn',
 112: 'Brooklyn',
 113: 'Manhattan',
 114: 'Manhattan',
 115: 'Staten Island',
 116: 'Manhattan',
 117: 'Queens',
 118: 'Staten Island',
 119: 'Bronx',
 120: 'Manhattan',
 121: 'Queens',
 122: 'Queens',
 123: 'Brooklyn',
 124: 'Queens',
 125: 'Manhattan',
 126: 'Bronx',
 127: 'Manhattan',
 128: 'Manhattan',
 129: 'Queens',
 130: 'Queens',
 131: 'Queens',
 132: 'Queens',
 133: 'Brooklyn',
 134: 'Queens',
 135: 'Queens',
 136: 'Bronx',
 137: 'Manhattan',
 138: 'Queens',
 139: 'Queens',
 140: 'Manhattan',
 141: 'Manhattan',
 142: 'Manhattan',
 143: 'Manhattan',
 144: 'Manhattan',
 145: 'Queens',
 146: 'Queens',
 147: 'Bronx',
 148: 'Manhattan',
 149: 'Brooklyn',
 150: 'Brooklyn',
 151: 'Manhattan',
 152: 'Manhattan',
 153: 'Manhattan',
 154: 'Brooklyn',
 155: 'Brooklyn',
 156: 'Staten Island',
 157: 'Queens',
 158: 'Manhattan',
 159: 'Bronx',
 160: 'Queens',
 161: 'Manhattan',
 162: 'Manhattan',
 163: 'Manhattan',
 164: 'Manhattan',
 165: 'Brooklyn',
 166: 'Manhattan',
 167: 'Bronx',
 168: 'Bronx',
 169: 'Bronx',
 170: 'Manhattan',
 171: 'Queens',
 172: 'Staten Island',
 173: 'Queens',
 174: 'Bronx',
 175: 'Queens',
 176: 'Staten Island',
 177: 'Brooklyn',
 178: 'Brooklyn',
 179: 'Queens',
 180: 'Queens',
 181: 'Brooklyn',
 182: 'Bronx',
 183: 'Bronx',
 184: 'Bronx',
 185: 'Bronx',
 186: 'Manhattan',
 187: 'Staten Island',
 188: 'Brooklyn',
 189: 'Brooklyn',
 190: 'Brooklyn',
 191: 'Queens',
 192: 'Queens',
 193: 'Queens',
 194: 'Manhattan',
 195: 'Brooklyn',
 196: 'Queens',
 197: 'Queens',
 198: 'Queens',
 199: 'Bronx',
 200: 'Bronx',
 201: 'Queens',
 202: 'Manhattan',
 203: 'Queens',
 204: 'Staten Island',
 205: 'Queens',
 206: 'Staten Island',
 207: 'Queens',
 208: 'Bronx',
 209: 'Manhattan',
 210: 'Brooklyn',
 211: 'Manhattan',
 212: 'Bronx',
 213: 'Bronx',
 214: 'Staten Island',
 215: 'Queens',
 216: 'Queens',
 217: 'Brooklyn',
 218: 'Queens',
 219: 'Queens',
 220: 'Bronx',
 221: 'Staten Island',
 222: 'Brooklyn',
 223: 'Queens',
 224: 'Manhattan',
 225: 'Brooklyn',
 226: 'Queens',
 227: 'Brooklyn',
 228: 'Brooklyn',
 229: 'Manhattan',
 230: 'Manhattan',
 231: 'Manhattan',
 232: 'Manhattan',
 233: 'Manhattan',
 234: 'Manhattan',
 235: 'Bronx',
 236: 'Manhattan',
 237: 'Manhattan',
 238: 'Manhattan',
 239: 'Manhattan',
 240: 'Bronx',
 241: 'Bronx',
 242: 'Bronx',
 243: 'Manhattan',
 244: 'Manhattan',
 245: 'Staten Island',
 246: 'Manhattan',
 247: 'Bronx',
 248: 'Bronx',
 249: 'Manhattan',
 250: 'Bronx',
 251: 'Staten Island',
 252: 'Queens',
 253: 'Queens',
 254: 'Bronx',
 255: 'Brooklyn',
 256: 'Brooklyn',
 257: 'Brooklyn',
 258: 'Queens',
 259: 'Bronx',
 260: 'Queens',
 261: 'Manhattan',
 262: 'Manhattan',
 263: 'Manhattan',
 264: 'Unknown',
 265: 'Unknown'}

In [18]:
df['PUBorough'] = df['PULocationID'].map(borough_dict)
df.head(3)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,PUBorough
0,1,2022-01-01 00:35:40,2022-01-01 00:53:29,2.0,3.80,1.0,N,142,236,1,14.5,3.0,0.5,3.65,0.0,0.3,21.95,2.5,0.0,Manhattan
1,1,2022-01-01 00:33:43,2022-01-01 00:42:07,1.0,2.10,1.0,N,236,42,1,8.0,0.5,0.5,4.00,0.0,0.3,13.30,0.0,0.0,Manhattan
2,2,2022-01-01 00:53:21,2022-01-01 01:02:19,1.0,0.97,1.0,N,166,166,1,7.5,0.5,0.5,1.76,0.0,0.3,10.56,0.0,0.0,Manhattan

## Pickup Zone Dict

In [19]:
zone_dict = {}

for loc in df_zone['LocationID']:
    zone_dict[loc] = df_zone['Zone'][df_zone['LocationID'] == loc].item()

In [20]:
zone_dict

{1: 'Newark Airport',
 2: 'Jamaica Bay',
 3: 'Allerton/Pelham Gardens',
 4: 'Alphabet City',
 5: 'Arden Heights',
 6: 'Arrochar/Fort Wadsworth',
 7: 'Astoria',
 8: 'Astoria Park',
 9: 'Auburndale',
 10: 'Baisley Park',
 11: 'Bath Beach',
 12: 'Battery Park',
 13: 'Battery Park City',
 14: 'Bay Ridge',
 15: 'Bay Terrace/Fort Totten',
 16: 'Bayside',
 17: 'Bedford',
 18: 'Bedford Park',
 19: 'Bellerose',
 20: 'Belmont',
 21: 'Bensonhurst East',
 22: 'Bensonhurst West',
 23: 'Bloomfield/Emerson Hill',
 24: 'Bloomingdale',
 25: 'Boerum Hill',
 26: 'Borough Park',
 27: 'Breezy Point/Fort Tilden/Riis Beach',
 28: 'Briarwood/Jamaica Hills',
 29: 'Brighton Beach',
 30: 'Broad Channel',
 31: 'Bronx Park',
 32: 'Bronxdale',
 33: 'Brooklyn Heights',
 34: 'Brooklyn Navy Yard',
 35: 'Brownsville',
 36: 'Bushwick North',
 37: 'Bushwick South',
 38: 'Cambria Heights',
 39: 'Canarsie',
 40: 'Carroll Gardens',
 41: 'Central Harlem',
 42: 'Central Harlem North',
 43: 'Central Park',
 44: 'Charleston/Tottenville',
 45: 'Chinatown',
 46: 'City Island',
 47: 'Claremont/Bathgate',
 48: 'Clinton East',
 49: 'Clinton Hill',
 50: 'Clinton West',
 51: 'Co-Op City',
 52: 'Cobble Hill',
 53: 'College Point',
 54: 'Columbia Street',
 55: 'Coney Island',
 56: 'Corona',
 57: 'Corona',
 58: 'Country Club',
 59: 'Crotona Park',
 60: 'Crotona Park East',
 61: 'Crown Heights North',
 62: 'Crown Heights South',
 63: 'Cypress Hills',
 64: 'Douglaston',
 65: 'Downtown Brooklyn/MetroTech',
 66: 'DUMBO/Vinegar Hill',
 67: 'Dyker Heights',
 68: 'East Chelsea',
 69: 'East Concourse/Concourse Village',
 70: 'East Elmhurst',
 71: 'East Flatbush/Farragut',
 72: 'East Flatbush/Remsen Village',
 73: 'East Flushing',
 74: 'East Harlem North',
 75: 'East Harlem South',
 76: 'East New York',
 77: 'East New York/Pennsylvania Avenue',
 78: 'East Tremont',
 79: 'East Village',
 80: 'East Williamsburg',
 81: 'Eastchester',
 82: 'Elmhurst',
 83: 'Elmhurst/Maspeth',
 84: "Eltingville/Annadale/Prince's Bay",
 85: 'Erasmus',
 86: 'Far Rockaway',
 87: 'Financial District North',
 88: 'Financial District South',
 89: 'Flatbush/Ditmas Park',
 90: 'Flatiron',
 91: 'Flatlands',
 92: 'Flushing',
 93: 'Flushing Meadows-Corona Park',
 94: 'Fordham South',
 95: 'Forest Hills',
 96: 'Forest Park/Highland Park',
 97: 'Fort Greene',
 98: 'Fresh Meadows',
 99: 'Freshkills Park',
 100: 'Garment District',
 101: 'Glen Oaks',
 102: 'Glendale',
 103: "Governor's Island/Ellis Island/Liberty Island",
 104: "Governor's Island/Ellis Island/Liberty Island",
 105: "Governor's Island/Ellis Island/Liberty Island",
 106: 'Gowanus',
 107: 'Gramercy',
 108: 'Gravesend',
 109: 'Great Kills',
 110: 'Great Kills Park',
 111: 'Green-Wood Cemetery',
 112: 'Greenpoint',
 113: 'Greenwich Village North',
 114: 'Greenwich Village South',
 115: 'Grymes Hill/Clifton',
 116: 'Hamilton Heights',
 117: 'Hammels/Arverne',
 118: 'Heartland Village/Todt Hill',
 119: 'Highbridge',
 120: 'Highbridge Park',
 121: 'Hillcrest/Pomonok',
 122: 'Hollis',
 123: 'Homecrest',
 124: 'Howard Beach',
 125: 'Hudson Sq',
 126: 'Hunts Point',
 127: 'Inwood',
 128: 'Inwood Hill Park',
 129: 'Jackson Heights',
 130: 'Jamaica',
 131: 'Jamaica Estates',
 132: 'JFK Airport',
 133: 'Kensington',
 134: 'Kew Gardens',
 135: 'Kew Gardens Hills',
 136: 'Kingsbridge Heights',
 137: 'Kips Bay',
 138: 'LaGuardia Airport',
 139: 'Laurelton',
 140: 'Lenox Hill East',
 141: 'Lenox Hill West',
 142: 'Lincoln Square East',
 143: 'Lincoln Square West',
 144: 'Little Italy/NoLiTa',
 145: 'Long Island City/Hunters Point',
 146: 'Long Island City/Queens Plaza',
 147: 'Longwood',
 148: 'Lower East Side',
 149: 'Madison',
 150: 'Manhattan Beach',
 151: 'Manhattan Valley',
 152: 'Manhattanville',
 153: 'Marble Hill',
 154: 'Marine Park/Floyd Bennett Field',
 155: 'Marine Park/Mill Basin',
 156: 'Mariners Harbor',
 157: 'Maspeth',
 158: 'Meatpacking/West Village West',
 159: 'Melrose South',
 160: 'Middle Village',
 161: 'Midtown Center',
 162: 'Midtown East',
 163: 'Midtown North',
 164: 'Midtown South',
 165: 'Midwood',
 166: 'Morningside Heights',
 167: 'Morrisania/Melrose',
 168: 'Mott Haven/Port Morris',
 169: 'Mount Hope',
 170: 'Murray Hill',
 171: 'Murray Hill-Queens',
 172: 'New Dorp/Midland Beach',
 173: 'North Corona',
 174: 'Norwood',
 175: 'Oakland Gardens',
 176: 'Oakwood',
 177: 'Ocean Hill',
 178: 'Ocean Parkway South',
 179: 'Old Astoria',
 180: 'Ozone Park',
 181: 'Park Slope',
 182: 'Parkchester',
 183: 'Pelham Bay',
 184: 'Pelham Bay Park',
 185: 'Pelham Parkway',
 186: 'Penn Station/Madison Sq West',
 187: 'Port Richmond',
 188: 'Prospect-Lefferts Gardens',
 189: 'Prospect Heights',
 190: 'Prospect Park',
 191: 'Queens Village',
 192: 'Queensboro Hill',
 193: 'Queensbridge/Ravenswood',
 194: 'Randalls Island',
 195: 'Red Hook',
 196: 'Rego Park',
 197: 'Richmond Hill',
 198: 'Ridgewood',
 199: 'Rikers Island',
 200: 'Riverdale/North Riverdale/Fieldston',
 201: 'Rockaway Park',
 202: 'Roosevelt Island',
 203: 'Rosedale',
 204: 'Rossville/Woodrow',
 205: 'Saint Albans',
 206: 'Saint George/New Brighton',
 207: 'Saint Michaels Cemetery/Woodside',
 208: 'Schuylerville/Edgewater Park',
 209: 'Seaport',
 210: 'Sheepshead Bay',
 211: 'SoHo',
 212: 'Soundview/Bruckner',
 213: 'Soundview/Castle Hill',
 214: 'South Beach/Dongan Hills',
 215: 'South Jamaica',
 216: 'South Ozone Park',
 217: 'South Williamsburg',
 218: 'Springfield Gardens North',
 219: 'Springfield Gardens South',
 220: 'Spuyten Duyvil/Kingsbridge',
 221: 'Stapleton',
 222: 'Starrett City',
 223: 'Steinway',
 224: 'Stuy Town/Peter Cooper Village',
 225: 'Stuyvesant Heights',
 226: 'Sunnyside',
 227: 'Sunset Park East',
 228: 'Sunset Park West',
 229: 'Sutton Place/Turtle Bay North',
 230: 'Times Sq/Theatre District',
 231: 'TriBeCa/Civic Center',
 232: 'Two Bridges/Seward Park',
 233: 'UN/Turtle Bay South',
 234: 'Union Sq',
 235: 'University Heights/Morris Heights',
 236: 'Upper East Side North',
 237: 'Upper East Side South',
 238: 'Upper West Side North',
 239: 'Upper West Side South',
 240: 'Van Cortlandt Park',
 241: 'Van Cortlandt Village',
 242: 'Van Nest/Morris Park',
 243: 'Washington Heights North',
 244: 'Washington Heights South',
 245: 'West Brighton',
 246: 'West Chelsea/Hudson Yards',
 247: 'West Concourse',
 248: 'West Farms/Bronx River',
 249: 'West Village',
 250: 'Westchester Village/Unionport',
 251: 'Westerleigh',
 252: 'Whitestone',
 253: 'Willets Point',
 254: 'Williamsbridge/Olinville',
 255: 'Williamsburg (North Side)',
 256: 'Williamsburg (South Side)',
 257: 'Windsor Terrace',
 258: 'Woodhaven',
 259: 'Woodlawn/Wakefield',
 260: 'Woodside',
 261: 'World Trade Center',
 262: 'Yorkville East',
 263: 'Yorkville West',
 264: 'NV',
 265: nan}

In [22]:
df['PUZone'] = df['PULocationID'].map(zone_dict)
df.head(3)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,PUBorough,PUZone
0,1,2022-01-01 00:35:40,2022-01-01 00:53:29,2.0,3.80,1.0,N,142,236,1,...,3.0,0.5,3.65,0.0,0.3,21.95,2.5,0.0,Manhattan,Lincoln Square East
1,1,2022-01-01 00:33:43,2022-01-01 00:42:07,1.0,2.10,1.0,N,236,42,1,...,0.5,0.5,4.00,0.0,0.3,13.30,0.0,0.0,Manhattan,Upper East Side North
2,2,2022-01-01 00:53:21,2022-01-01 01:02:19,1.0,0.97,1.0,N,166,166,1,...,0.5,0.5,1.76,0.0,0.3,10.56,0.0,0.0,Manhattan,Morningside Heights

In [23]:
df.columns

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag',
       'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
       'total_amount', 'congestion_surcharge', 'airport_fee', 'PUBorough',
       'PUZone'],
      dtype='object')

In [24]:
df = df[['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag',
       'PULocationID', 'PUBorough', 'PUZone', 'DOLocationID', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
       'total_amount', 'congestion_surcharge', 'airport_fee']]

In [25]:
df.head(2)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,PUBorough,PUZone,...,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2022-01-01 00:35:40,2022-01-01 00:53:29,2.0,3.8,1.0,N,142,Manhattan,Lincoln Square East,...,1,14.5,3.0,0.5,3.65,0.0,0.3,21.95,2.5,0.0
1,1,2022-01-01 00:33:43,2022-01-01 00:42:07,1.0,2.1,1.0,N,236,Manhattan,Upper East Side North,...,1,8.0,0.5,0.5,4.00,0.0,0.3,13.30,0.0,0.0

## Dropoff Borough Dict

In [26]:
df['DOBorough'] = df['DOLocationID'].map(borough_dict)
df.head(3)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,PUBorough,PUZone,...,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,DOBorough
0,1,2022-01-01 00:35:40,2022-01-01 00:53:29,2.0,3.80,1.0,N,142,Manhattan,Lincoln Square East,...,14.5,3.0,0.5,3.65,0.0,0.3,21.95,2.5,0.0,Manhattan
1,1,2022-01-01 00:33:43,2022-01-01 00:42:07,1.0,2.10,1.0,N,236,Manhattan,Upper East Side North,...,8.0,0.5,0.5,4.00,0.0,0.3,13.30,0.0,0.0,Manhattan
2,2,2022-01-01 00:53:21,2022-01-01 01:02:19,1.0,0.97,1.0,N,166,Manhattan,Morningside Heights,...,7.5,0.5,0.5,1.76,0.0,0.3,10.56,0.0,0.0,Manhattan

In [28]:
df['DOZone'] = df['DOLocationID'].map(zone_dict)
df.head(3)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,PUBorough,PUZone,...,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,DOBorough,DOZone
0,1,2022-01-01 00:35:40,2022-01-01 00:53:29,2.0,3.80,1.0,N,142,Manhattan,Lincoln Square East,...,3.0,0.5,3.65,0.0,0.3,21.95,2.5,0.0,Manhattan,Upper East Side North
1,1,2022-01-01 00:33:43,2022-01-01 00:42:07,1.0,2.10,1.0,N,236,Manhattan,Upper East Side North,...,0.5,0.5,4.00,0.0,0.3,13.30,0.0,0.0,Manhattan,Central Harlem North
2,2,2022-01-01 00:53:21,2022-01-01 01:02:19,1.0,0.97,1.0,N,166,Manhattan,Morningside Heights,...,0.5,0.5,1.76,0.0,0.3,10.56,0.0,0.0,Manhattan,Morningside Heights

In [29]:
df.columns

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag',
       'PULocationID', 'PUBorough', 'PUZone', 'DOLocationID', 'payment_type',
       'fare_amount', 'extra', 'mta_tax', 'tip_amount', 'tolls_amount',
       'improvement_surcharge', 'total_amount', 'congestion_surcharge',
       'airport_fee', 'DOBorough', 'DOZone'],
      dtype='object')

In [30]:
df = df[['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag',
       'PULocationID', 'PUBorough', 'PUZone', 'DOLocationID', 'DOBorough', 'DOZone', 'payment_type',
       'fare_amount', 'extra', 'mta_tax', 'tip_amount', 'tolls_amount',
       'improvement_surcharge', 'total_amount', 'congestion_surcharge',
       'airport_fee']]

In [31]:
pd.set_option('display.max_columns', None)

In [32]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,PUBorough,PUZone,DOLocationID,DOBorough,DOZone,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2022-01-01 00:35:40,2022-01-01 00:53:29,2.0,3.80,1.0,N,142,Manhattan,Lincoln Square East,236,Manhattan,Upper East Side North,1,14.5,3.0,0.5,3.65,0.0,0.3,21.95,2.5,0.0
1,1,2022-01-01 00:33:43,2022-01-01 00:42:07,1.0,2.10,1.0,N,236,Manhattan,Upper East Side North,42,Manhattan,Central Harlem North,1,8.0,0.5,0.5,4.00,0.0,0.3,13.30,0.0,0.0
2,2,2022-01-01 00:53:21,2022-01-01 01:02:19,1.0,0.97,1.0,N,166,Manhattan,Morningside Heights,166,Manhattan,Morningside Heights,1,7.5,0.5,0.5,1.76,0.0,0.3,10.56,0.0,0.0
3,2,2022-01-01 00:25:21,2022-01-01 00:35:23,1.0,1.09,1.0,N,114,Manhattan,Greenwich Village South,68,Manhattan,East Chelsea,2,8.0,0.5,0.5,0.00,0.0,0.3,11.80,2.5,0.0
4,2,2022-01-01 00:36:48,2022-01-01 01:14:20,1.0,4.30,1.0,N,68,Manhattan,East Chelsea,163,Manhattan,Midtown North,1,23.5,0.5,0.5,3.00,0.0,0.3,30.30,2.5,0.0

In [33]:
df.to_csv('Data/uber_data_2022_jan.csv.gz', index=False, compression='gzip')